In [1]:
import os 

del os.environ["AWS_ACCESS_KEY_ID"]
del os.environ["AWS_SECRET_ACCESS_KEY"]

from dotenv import load_dotenv
# Path to env file containing the waterbodies database credentials
# Only necessary on the Sandbox.
env_path = "/home/jovyan/.env"
load_dotenv(env_path)

True

In [2]:
import logging

import click
from datacube import Datacube

from waterbodies.db import get_waterbodies_engine
from waterbodies.hopper import find_task_datasets_ids
from waterbodies.io import check_directory_exists
from waterbodies.logs import logging_setup
from waterbodies.surface_area_change import (
    add_waterbody_observations_to_db,
    check_task_exists,
    get_waterbody_observations,
)
from waterbodies.text import get_task_id_str_from_tuple

In [3]:
verbose =  1
run_type = "backlog-processing"
solar_day = "2019-01-05"
tile_id_x = 214
tile_id_y = 83
task_datasets_ids = ["b3f720d6-4bae-5f33-85a4-39516f3e4c0b", "5eccabe0-64d1-5b20-ad87-4e73505996cf"]
historical_extent_rasters_directory = "s3://deafrica-waterbodies-dev/waterbodies/v0.0.2/historical_extent_rasters/"
overwrite = True

In [4]:
# Set up logging.
logging_setup(verbose)
_log = logging.getLogger(__name__)

In [5]:
if not check_directory_exists(path=historical_extent_rasters_directory):
    e = FileNotFoundError(f"Directory {historical_extent_rasters_directory} does not exist!")
    _log.error(e)
    raise e

[2024-04-05 12:40:08,548] {credentials.py:557} INFO - Found credentials in environment variables.

In [6]:
product = "wofs_ls"

In [7]:
dc = Datacube(app=run_type)

In [8]:
# Connect to the database 
engine = get_waterbodies_engine()
engine

Engine(postgresql+psycopg2://waterbodies_writer:***@db-writer:5432/waterbodies)

In [9]:
task_id_tuple = (solar_day, tile_id_x, tile_id_y)
task_id_str = get_task_id_str_from_tuple(task_id_tuple)

In [10]:
if not overwrite:
    # Check if there are waterbody observations with the task's task id
    # already in the database.
    exists = check_task_exists(task_id_str=task_id_str, engine=engine)

In [11]:
%%time
if overwrite or not exists:
    # Get the waterbody observations for the task.
    waterbody_observations = get_waterbody_observations(solar_day=solar_day,
                                                        tile_id_x=tile_id_x,
                                                        tile_id_y=tile_id_y,
                                                        task_datasets_ids=task_datasets_ids,
                                                        historical_extent_rasters_directory=historical_extent_rasters_directory,
                                                        dc=dc)
    # Add the waterbody observations to the database.
    add_waterbody_observations_to_db(waterbody_observations=waterbody_observations, engine=engine, update_rows=True)
    _log.info(f"Task {task_id_str} complete")
else:
    _log.info(f"Task {task_id_str} already exists, skipping")

[2024-04-05 12:40:14,790] {surface_area_change.py:266} INFO - Found 3 out of 3 waterbody observations already in the waterbody_observations_2 table
[2024-04-05 12:40:14,794] {surface_area_change.py:315} INFO - Updating 3 waterbody observations in the waterbody_observations_2 table
[2024-04-05 12:40:14,822] {surface_area_change.py:331} ERROR - No waterbody observations to insert into the waterbody_observations_2 table
[2024-04-05 12:40:14,823] {<timed exec>:11} INFO - Task 2019-01-05/x214/y083 complete
CPU times: user 1.58 s, sys: 235 ms, total: 1.81 s
Wall time: 5.32 s

In [12]:
import pandas as pd
# Write your SQL query to select the first 5 rows
sql_query = "SELECT * FROM waterbody_observations_2;"

# Execute the query and fetch the results into Pandas DataFrame
df = pd.read_sql_query(sql_query, con=engine)

df

,obs_id,uid,px_total,px_wet,area_wet_m2,px_dry,area_dry_m2,px_invalid,area_invalid_m2,date,task_id
0,2024-01-11/x199/y066_kqsckdzu93,kqsckdzu93,7,NaN,NaN,NaN,NaN,7.0,6300.0,2024-01-11,2024-01-11/x199/y066
1,2024-01-11/x199/y066_kqsckeettf,kqsckeettf,21,NaN,NaN,NaN,NaN,21.0,18900.0,2024-01-11,2024-01-11/x199/y066
2,2024-01-11/x199/y066_kqsckt2pgg,kqsckt2pgg,6,NaN,NaN,NaN,NaN,6.0,5400.0,2024-01-11,2024-01-11/x199/y066
3,2024-01-11/x199/y066_kqsckx3pvx,kqsckx3pvx,6,NaN,NaN,NaN,NaN,6.0,5400.0,2024-01-11,2024-01-11/x199/y066
4,2024-01-11/x199/y066_kqsckxd6z6,kqsckxd6z6,10,NaN,NaN,NaN,NaN,10.0,9000.0,2024-01-11,2024-01-11/x199/y066
...,...,...,...,...,...,...,...,...,...,...,...
1441,2024-01-11/x199/y066_kqtkcztffq,kqtkcztffq,47,NaN,NaN,1.0,900.0,46.0,41400.0,2024-01-11,2024-01-11/x199/y066
1442,2024-01-11/x199/y066_kqtkf403j4,kqtkf403j4,12,NaN,NaN,NaN,NaN,12.0,10800.0,2024-01-11,2024-01-11/x199/y066
1443,2024-01-11/x199/y066_kqtm1bnh8x,kqtm1bnh8x,9,NaN,NaN,NaN,NaN,9.0,8100.0,2024-01-11,2024-01-11/x199/y066
1444,2024-01-11/x199/y066_kqtm1bqgmz,kqtm1bqgmz,6,NaN,NaN,NaN,NaN,6.0,5400.0,2024-01-11,2024-01-11/x199/y066
1445,2024-01-11/x199/y066_kqtm1cqc1s,kqtm1cqc1s,78,NaN,NaN,NaN,NaN,78.0,70200.0,2024-01-11,2024-01-11/x199/y066